.filosofiaArticle{
    margin-top: 40px;
    background-color: rgba(245, 225, 206, 0.2);
}

.filosofiaArticle-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.filosofiaArticle-text-container h2{
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.6rem
}
.filosofiaArticle-text-container h3{
    margin-top: 10px;
    font-weight:500;
    font-size: 1.4rem
}
.filosofiaArticle-text-container p{
    margin-top: 30px;
    font-size: 1.2rem;
}

.filosofiaArticle-img-container{
    margin-top: 20px;
    text-align: center;
}

.filosofiaArticle-img-container img{
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 20px;
}