.barraMenuContainer:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.menuDisplayed{
    display: none;
    transform: translateY(0);
}
.hamburgerMenu{
    color: #C89518;
    font-size: 2rem;
}
.menuDisplayedVisible{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 101px;
    right: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    height: 100vh;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.menuLink{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #C89518;
    margin-top: 20px;
    text-decoration: none;
}
.menuLink:hover{
    color: #000000;

}





