.sloganArticle{
  margin-top: 40px;
}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan h2{
    text-align: center;
    color:#555555;
    font-size: 1.5rem;
    margin-bottom: 20px;
}